.booksCard {
  flex-direction: row;
  margin: 10px 10px 30px;
  max-width: 175px;
  box-sizing: content-box;
  padding: 60px 60px 30px 60px;
  background-color: rgb(184, 184, 184);

  &_img {
    text-align: center;
    box-shadow: 7px 5px 20px rgba(0, 0, 0, 0.8);
    height: 68%;
  }
  &_info {
    margin-top: 20px;
    padding: 0px;
    .booksDetail {
      span,
      strong {
        display: block;
      }
      span {
        opacity: 0.4;
        text-align: center;
      }
    }
  }
}
