.booksCard {
  flex-direction: row;
  margin: 10px 10px 30px;
  width: 150px;
  box-sizing: content-box;
  padding: 25px 25px 10px 25px;
  background-color: rgb(184, 184, 184);
  height: 18rem;

  &_img {
    box-shadow: 20px 0px 10px rgba(0, 0, 0, 0.8);
    width: 90px;
    height: 48%;
    padding-left: 20px;
  }
  &_info {
    margin-top: 25px;
    padding: 0px;
    .booksDetail {
      span:first-child,
      strong {
        display: block;
        font-size: 12px;
        margin: 3px;
      }
      span {
        opacity: 0.4;
        text-align: center;
        font-size: 12px;
      }
      span:last-child {
        display: block;
      }
    }
  }
}
